<head>
<title>CrazyKitty's games</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="https://crazykitty357.github.io/assets/icon.ico">
<link href="/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<h1>[+..••]</h1>
<p>This is where I will put the games I make if they ever get finished.</p>
</body>
