<head>
<title>CrazyKitty's thing</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="/assets/icon.ico">
<link href="/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
 <h1>:(</h1>
 <p>error 404: The page you were trying to find does not exist.</p>
 <a href="/secret">Here is another cool website.</a>
</body>