<head>
  <title>CrazyKitty's thing</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="assets/icon.ico">
  <link href="/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <h1>:3</h1>
  <p>this is a thing I'm working on. Expect updates.</p>
  <p>I sometimes make <a href="games/">games</a>.</p>
  <!-- These should be at the bottom of the page -->
  <p></p>
  <a href="threads"><img src="https://i.imgur.com/Z8bGe6q.png" style="width:auto; height: 40px;"></a>
  <a href="twitch"><img src="https://i.imgur.com/qfB8brK.png" style="width:auto; height: 38px;"></a>
  <p></p>
  <a href="https://github.com/CrazyKitty357/CrazyKitty357.github.io"><img src="/assets/github-credit.png" style="width: auto; height: 40px;"</a>
</body>
